// background colors
$maroon: #BE123C;
// text colors
$body-color: #000000;
// fonts
$font-family-sans-serif: rubik, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// headings
$headings-font-weigth:700;
